{% extends "base.html" %}
{% block content %}

<div class="mui-container" style="max-width: 800px; margin: 2rem auto;">
  <div class="mui-panel" style="padding: 2rem;">
    <h2>User Documentation</h2>
    <p>All documentation for the Parkinson Annotator project can be found below:</p>
    <ul class="docs-links" style="list-style-type: none;font-size: 16px; padding-left: 0; text-align: left;">
      <li><a href="https://github.com/GhostCat12/parkinson-annotator/blob/main/docs/USER_MANUAL.md" target="_blank">User Manual</a></li>
      <li><a href="https://github.com/GhostCat12/parkinson-annotator/blob/main/docs/TECHNICAL_MANUAL.md" target="_blank">Technical Manual</a></li>
      <li><a href="https://github.com/GhostCat12/parkinson-annotator/blob/main/docs/DOCKER.md" target="_blank">Docker Guide</a></li>
      <li><a href="https://github.com/GhostCat12/parkinson-annotator/blob/main/docs/INSTALLATION.md" target="_blank">Installation Instructions</a></li>
    </ul>
  </div>
</div>

{% endblock %}