{% extends "base.html" %}
{% block content %}

<h2>Welcome to the Dataset</h2>
<h4>Please search the database here</h4>

<form id="search-form">
  <select id="search-category" required>
    <option value="" disabled selected>Select category</option>
    <option value="variant">Variant</option>
    <option value="gene_symbol">Gene Symbol</option>
    <option value="patient_name">Patient Name</option>
    <option value="classification">Classification</option>
  </select>

  <input type="text" id="search-box" placeholder="Search..." required>
  <select id="search-classification-dropdown" style="display:none;">
    <option value="" disabled selected>Select classification</option>
    <option value="pathogenic">Pathogenic</option>
    <option value="likely_pathogenic">Likely Pathogenic</option>
    <option value="benign">Benign</option>
    <option value="likely_benign">Likely Benign</option>
    <option value="uncertain_significance">Uncertain Significance</option>
    <option value="conflicting_classifications_of_pathogenicity">Conflicting Classifications of Pathogenicity</option>
    <option value="not_provided">Not Provided</option>
    <option value="not_found_in_clinvar">Not Found in Clinvar</option>
  </select>
  <button type="submit">Search</button>

</form>

<form id="upload-form" action="/upload" method="POST" enctype="multipart/form-data">
  <input type="file" name="file" id="upload-file-input" required>
  <button type="submit" id="upload-btn">Upload</button>
  <div id="loading">Loading...</div>
</form>

<div id="results"></div>
<div id="patient-list"></div>
<div id="variant-dict"></div>

<p>Variant Search - Input: vcf or hgvf format. Ouput: all patients with that variant and ClinVar information</p>
<p>Gene Symbol Search - Input: gene symbol Ouput: all patients and their variants found in that gene, plus classification</p>
<p>Patient Search - Input: patient name Output: all variants for that patient, their classifications and corresponding gene symbol</p>
<p>Classification Search - Input: Select classification from list Output: all variants in database with that classification</p>

<script src="{{ url_for('static', filename='search.js') }}"></script>
{% endblock %}